@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
  background-color: #f5f5f5;
}

h1 {
  font-family: 'Tilt Prism', cursive;
}

.board {
  width: 500px;
  height: 500px;
  margin: 0 auto;

  display: grid;
}
